.header_buttons_border {
    border-radius:5px;
    width: 1000px;
    background-color: #f2f2f2; /* ?????????? ???? ???? */
    padding: 10px; /* ?????????? ??????? ?????? ????? */
    font-family: Arial, sans-serif; /* ?????????? ????? */
    font-size: 14px; /* ?????????? ?????? ?????? */
    line-height: 1.5; /* ?????????? ??????????? ?????????? */
    border: 1px solid #ccc; /* ???????? ??????? */
    /*text-align:center;*/
    /*margin:20px;
    padding:20px;*/
}

.header_buttons {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header_buttons_size{
    float: left;
    height:50px;
    width:100px;
}

.header_text, .header_text:hover {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    color: #009688;
}

.header_text:hover {
    text-decoration: none;
}

