.fieldset_random_quote {
    margin-top: 20px;
    height: 170px;
    width: 700px;
    display: inline-block;
    border:1px solid #555;
    border-radius:5px;
    /*width: 1000px;*/
}

.create_quote_field {
    margin-top: 20px;
    height: 220px;
    width: 700px;
    display: inline-block;
    border:1px solid #555;
    border-radius:5px;
    text-align: center;
    font-size: 15px;
    background-color: #f2f2f2;

    /*width: 1000px;*/
}

.fieldset_number_quote {
    position: relative;
    top:20px;
    height: 60px;
    width: 700px;
    /*display: inline-block;*/
    border:1px solid #555;
    border-radius:5px;
    /*width: 1000px;*/
}

.fieldset_sign_in {
    height: 170px;
    width: 277px;
    display: inline-block;
    border:1px solid #555;
    border-radius:5px;
    margin: 20px;
    /*width: 1000px;*/
}

.general_border{
    width: 277px;
    height: 100%;
}

.fieldset_unregistered_profile {
    position: relative;
    height: 170px;
    width: 277px;
    display: inline-block;
    border:1px solid #555;
    border-radius:5px;
    margin: 20px;
    /*width: 1000px;*/
}

.fieldset_registered_profile {
    position: relative;
    right: -2px;
    height: 630px;
    width: 277px;
    display: inline-block;
    border:1px solid #555;
    border-radius:5px;
    margin: 20px;
    /*width: 1000px;*/
}

.fieldset_profile_last_votes {
    position: relative;
    right:7px;
    top:75px;
    height: 480px;
    width: 250px;
    display: inline-block;
    border:1px solid #555;
    border-radius:5px;
    margin: 20px;
    /*width: 1000px;*/
}

.second_fieldset_profile_last_votes {
    position: relative;
    right: 15px;
    top:-15px;
    height: 470px;
    width: 240px;
    display: inline-block;
    border:0px solid #555;
    border-radius:5px;
    margin: 20px;
    /*width: 1000px;*/
}

.quote_story_fieldset{
    position: absolute;
    right: 505px;
    height: 400px;
    width: 277px;
    display: inline-block;
    border:1px solid #555;
    border-radius:5px;
    margin: 20px;
}

.fieldset_authenticated {

    height: 400px;
    width: 277px;
    display: inline-block;
    border:1px solid #555;
    border-radius:5px;
    margin: 20px;
    /*width: 1000px;*/
}

.sign_in_fields{
    text-align: center;
}

.header_buttons_border {
    border-radius:5px;
    width: 1000px;
    background-color: #f2f2f2; /* ?????????? ???? ???? */
    padding: 10px; /* ?????????? ??????? ?????? ????? */
    font-family: Arial, sans-serif; /* ?????????? ????? */
    font-size: 14px; /* ?????????? ?????? ?????? */
    line-height: 1.5; /* ?????????? ??????????? ?????????? */
    border: 1px solid #ccc; /* ???????? ??????? */
    /*text-align:center;*/
    /*margin:20px;
    padding:20px;*/
}

.header_buttons_size{
    float: left;
    height:50px;
    width:100px;
}

.quote_text{
    font-size:20px;
    text-align: center;
    vertical-align: middle;
}

.quote_typing{
    font-size:20px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 638px;
    margin-left: 30px;
    margin-top: -30px;

}

.input_quote {

}

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    text-align: center;
    font-size: 15px;
}

.header_text{
    font-size: 15px;
    font-weight: bold;
}

.plus_minus_button{
    margin-top: -15px;
    margin-left: 15px;
    height:25px;
    width:25px;
}

.header_buttons {
    display: inline-block;
    background-color: #f2f2f2; /* ?????????? ???? ???? */
    padding: 10px; /* ?????????? ??????? ?????? ????? */
    font-family: Arial, sans-serif; /* ?????????? ????? */
    font-size: 14px; /* ?????????? ?????? ?????? */
    line-height: 1.5; /* ?????????? ??????????? ?????????? */
    border: 1px solid #ccc; /* ???????? ??????? */
    border-radius: 5px; /* ???????? ??????????? ????? */
}

.header_text, .header_text:hover {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    color: #009688;
}

.header_text:hover {
    text-decoration: none;
}

.create_quote_head_text {
    position: relative;
    font-size: 20px;
    top: -15px
}