<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/guest.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/guest.css">
    <title>Guest2</title>
</head>
<body>

<p class="header_buttons_border">
    <button class="header_buttons_size"
            th:method="GET" th:action="@{/show_profile}">
        <a class="header_text">
            Profile
        </a>
    </button>
    <button class="header_buttons_size"
            th:method="GET" th:action="@{/top_10}">
        <a class="header_text">
            Top 10
        </a>
    </button>
<!--</form>-->
    <button class="header_buttons_size"
            th:method="GET" th:action="@{/flop_10}">
        <a class="header_text">
            Flop 10
        </a>
    </button>
    <button class="header_buttons_size"
            th:method="GET" th:action="@{/last_quote}">
        <a class="header_text">
            Last
        </a>
    </button>
</p>

<div style="display: flex">

    <div class="fieldset_random_quote">
        <p class="quote_text">
            Random quote
        </p>
    </div>

    <div class="fieldset_profile">
        <form th:method="POST" th:action="@{/process_login}"
              th:object="${user}" class="sign_in_fields">

            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <p>
            <input type="text" name="username" placeholder="Login"
                   th:field="*{username}" id="username">
            </p>
            <p>
            <input type="password" placeholder="Password"
                   th:field="*{password}" id="password">
            </p>

            <div th:if="${loginError}" style="color:red">Incorrect login or password</div>
            <!--<form id="some2_id">
                <style>

                    input[type=submit]#some3_id {
                        width: 20px;
                        height: 20px;
                    }

                </style>
            <input type="submit" style="position: relative; width: 20px; height: 20px"
                   name="sub" value="Sign in"/>
            </form>-->
            <button class="sign_in_button"><a>Sign in</a></button>

            <a th:href="@{/registration_page}" th:action="GET"
               style="font-size: 15px; position: absolute; left: 150px; top: 140px">
                <span>
                Create an account
                </span>
            </a>
        </form>
    </div>
</div>

<div th:each="quote : ${quotes}">
    <div class="fieldset_number_quote">
        <!--<a style="font-size: 10px;" th:text="Top ${quote.getPlace()} quote - Score"></a>-->
        <a style="font-size: 15px; vertical-align: sub">
            &nbsp;&nbsp;&nbsp;&nbsp;Top "1" quote - Score<br>
        </a>
        <!--a href="#" style="font-size: 15px; position: absolute; left: 550px; bottom: 400px">posted by Login</a>-->
        <a href="#" style="font-size: 15px; position: relative; left: 550px; top: 10px">posted by "Login"</a>

        <div style="display: flex">
            <button class="plus_minus_button"><a>+</a></button>
            <button class="plus_minus_button"><a>-</a></button>
        </div>
    </div>
</div>
<br>
<a th:value="${registered_msg}"></a>
</body>
</html>