<div id="intro-dm" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="header_buttons_border">

        <div sec:authorize="isAuthenticated()">
            <form th:method="GET" th:action="@{/profile-page}">
                <button class="header_buttons_size" type="submit">
                    <a class="header_text">
                        Profile
                    </a>
                </button>
            </form>
        </div>

        <form th:method="GET" th:action="@{/top-10}">
            <button class="header_buttons_size" type="submit">
                <a class="header_text">
                    Top 10
                </a>
            </button>
        </form>

        <form th:method="GET" th:action="@{/flop-10}">
            <button class="header_buttons_size" type="submit">
                <a class="header_text">
                    Flop 10
                </a>
            </button>
        </form>

        <form th:method="GET" th:action="@{/last-quote}">
            <button class="header_buttons_size" type="submit">
                <a class="header_text">
                    Last quote
                </a>
            </button>
        </form>

        <div sec:authorize="isAuthenticated()">
            <form th:method="GET" th:action="@{/create-quote-page}">
                <button class="header_buttons_size" type="submit">
                    <a class="header_text">
                        Create quote
                    </a>
                </button>
            </form>
        </div>
    </div>
</div>