<!--

<div sec:authorize="isAuthenticated()">
<div sec:authorize="isAnonymous()">
  This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
  This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
  This content is only shown to users.
</div>

The sec:authentication attribute is used to print logged user name and roles:

Logged user: <span sec:authentication="name">Bob</span>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/main.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/common_styles.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/common_styles.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->
    <title>Main</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="../static/js/main_js.js"></script>
    <!--<script th:src="@{~/js/main_js.js}"></script>-->

    <!--<div id="head_id"></div>-->

</head>

<body>

<div class="header_buttons_field">

    <div class="header_button" sec:authorize="isAuthenticated()">
        <form th:method="GET" th:action="@{/profile-page}">
            <button class="header_button_size" type="submit">
                <span class="header_button_text">Profile</span>
            </button>
        </form>
    </div>

    <div class="header_button" >
        <form th:method="GET" th:action="@{/top-10}">
            <button class="header_button_size" type="submit">
                <a class="header_button_text">
                    Top 10
                </a>
            </button>
        </form>
    </div>

    <div class="header_button">
        <form th:method="GET" th:action="@{/flop-10}">
            <button class="header_button_size" type="submit">
                <a class="header_button_text">
                    Flop 10
                </a>
            </button>
        </form>
    </div>

    <div class="header_button">
        <form th:method="GET" th:action="@{/last-quote}">
            <button class="header_button_size" type="submit">
                <a class="header_button_text">
                    Last quote
                </a>
            </button>
        </form>
    </div>

    <div class="header_button" sec:authorize="isAuthenticated()">
        <form th:method="GET" th:action="@{/create-quote-page}">
            <button class="header_button_size" type="submit">
                <a class="header_button_text">
                    Create quote
                </a>
            </button>
        </form>
    </div>
</div>

<div style="display: flex; position: relative">

    <div th:if="${quotesAreCreated}" class="main_quote_field"> <!--class="fieldset_random_quote"-->
        <a class="main_quote_rating" th:text="${'Quote rating: ' + mainQuote.getRating()}">
            Top 1 quote - Score<br>
        </a>

        <div style="display: flex; margin-top: 20px; left: 20px">
            <button class="main_quote_plus_minus_button"><a>+</a></button> <!--class="plus_minus_button"-->
            <button class="main_quote_plus_minus_button"><a>-</a></button> <!--class="plus_minus_button"-->
        </div>

        <a class="main_quote_type" th:text="${mainQuoteType}">Random/Last created quote</a>

        <div class="main_quote_text_border"> <!--class="quote_text_queue_border"-->
            <a class="main_quote_text"
               th:text="${'&quot' + mainQuote.getQuoteText()} + '&quot'">
               "Random quote"
            </a><!--class="quote_text"-->
        </div>
        <a class="main_quote_owner"
           th:text="${'Posted by ' + mainQuote.getPerson().getUsername()}">
           Random quote owner
        </a><!--class="random_quote_owner"-->
    </div>

    <!--<div th:unless="${quotesAreCreated}" class="main_quote_text_border">
        <p class="main_quote_text">
            Quotes don't exist yet, you can be first!
        </p>
    </div>-->

    <div sec:authorize="isAuthenticated()" class="fieldset_registered_profile">

        <a style="position: relative; left: 10px">Hello <span sec:authentication="name">Bob</span></a><br>

        <form th:method="POST" th:action="@{/logout}" id="form-logout">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input style="margin-left: 10px" type="submit" value="Logout">
        </form>

        <!--<form th:action="@{/logout}" th:method="GET">
        <button style="margin-left: 10px" type="submit">Log out</button>
        </form>-->

        <div class="fieldset_profile_last_votes">
            <div class="second_fieldset_profile_last_votes">



                <a>&nbsp;&nbsp;Last 3 votes (all votes count = [[${all_votes_number}]])</a>
                <br><br>
                <a>Quote 1Quote 1Quote 1Quote 1Quote 1Quote 1Quote 1Quote 1Quote 1</a><br><br>
                <a>Quote 2</a><br><br>
                <a>Quote 3Quote 3Quote 3Quote 3Quote 3Quote 3Quote 3Quote 3Quote 3Quote 3</a><br><br>

            </div>
        </div>
    </div>

    <div class="fieldset_unregistered_profile"
         th:if="${#authentication == null || #authorization.expression('isAnonymous()')}">

        <form th:method="POST" th:action="@{/process-login}"
              th:object="${user}" class="sign_in_fields">

            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>

            <p><input type="text" name="username" placeholder="Login"
                      th:field="*{username}" id="username"></p>

            <p><input type="password" placeholder="Password"
                      th:field="*{password}" id="password"></p>

            <div th:if="${loginError}" style="color:red; position: relative; bottom: 10px">Incorrect login or password</div>

            <button class="sign_in_button"><a>Sign in</a></button>

            <a th:href="@{/registration-page}" th:action="GET"
               style="font-size: 15px; position: relative; left: 10px; top: -5px">
                <span>Create an account</span></a>

        </form>
    </div>

    <div style="position: absolute;
    margin-top: 150px;">
        <div th:each="quote : ${quotes}" class="fieldset_number_quote">

            <!--<a style="font-size: 10px;" th:text="Top ${quote.getPlace()} quote - Score"></a>-->
            <a class="random_quote_rating" th:text="${'Quote rating: ' + quote.getRating()}">
                Top 1 quote - Score<br>
            </a>

            <div style="display: flex; margin-top: 20px; left: 20px">
                <button class="plus_minus_button"><a>+</a></button>
                <button class="plus_minus_button"><a>-</a></button>
            </div>

            <!--a href="#" style="font-size: 15px; position: absolute; left: 550px; bottom: 400px">posted by Login</a>-->
            <a style="position: relative; margin-left: 540px; top: -20px"
               th:text="${'Posted by ' + quote.getPerson().getUsername()}">
                Posted by Username
            </a>

            <div class="quote_text_queue_border">
                <span class="quote_text_queue" th:text="${'&quot' + quote.getQuoteText() + '&quot'}">Some quote</span>
            </div>
            <br>
        </div>
    </div>
</div>

<!--<div th:each="element : ${quotes}">
    <span th:text="${element.getQuoteText()}"></span>
</div>-->



</body>
</html>