<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/main.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <title>Main</title>

    <div class="header_buttons_border">
        <form th:method="GET" th:action="@{/top-10}">
            <button class="header_buttons_size" type="submit">
                <a class="header_text">
                    Top 10
                </a>
            </button>
        </form>

        <form th:method="GET" th:action="@{/flop-10}">
            <button class="header_buttons_size" type="submit">
                <a class="header_text">
                    Flop 10
                </a>
            </button>
        </form>

        <form th:method="GET" th:action="@{/last-quote}">
            <button class="header_buttons_size" type="submit">
                <a class="header_text">
                    Last quote
                </a>
            </button>
        </form>

    </div>
</head>

<div>
    Username:
    <a th:text="${user.getUsername()}">qwe</a><br>
    Email:
    <a th:text="${user.getEmail()}">qwe</a><br>
    Date of creation:
    <a th:text="${user.getDateOfCreation()}">qwe</a><br>
</div>
</body>
</html>